<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Orders</title>
</head>
<body>

<div class="container mt-5">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Enter Order ID" id="orderIdInput">
        <button class="btn btn-primary me-1" onclick="getOrderById()">Get Order</button>
        <button class="btn btn-success me-1" onclick="createOrder()">Create Order</button>
        <button class="btn btn-danger" onclick="deleteAllOrders()">Delete all</button>
    </div>

    <ul class="list-group" id="orderList"></ul>

    <div class="modal" tabindex="-1" id="orderModal">
        <div class="modal-dialog" style="max-width: fit-content">
            <div class="modal-content">
                <div class="modal-body">
                    <pre id="orderModalBody" style="margin-bottom: 0"></pre>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
<script>
    const host = 'http://0.0.0.0:8080'

    async function getOrders() {
        const response = await fetch(`${host}/orders`);
        const orders = await response.json();

        const orderList = document.getElementById('orderList');
        orderList.innerHTML = '';

        orders.forEach(order => {
            const listItem = document.createElement('li');
            listItem.className = 'list-group-item';
            listItem.textContent = `Order ID: ${order.order_uid}`;
            orderList.appendChild(listItem);
        });
    }

    async function getOrderById() {
        const orderIdInput = document.getElementById('orderIdInput');
        const orderId = orderIdInput.value;

        try {
            const response = await fetch(`${host}/orders/${orderId}`);
            const order = await response.json();

            const orderModalBody = document.getElementById('orderModalBody');
            orderModalBody.textContent = JSON.stringify(order, null, 2);

            const orderModal = new bootstrap.Modal(document.getElementById('orderModal'));
            orderModal.show();
        } catch (error) {
            alert('Failed to fetch order.');
        }
    }

    async function createOrder() {
        const response = await fetch(`${host}/orders`, {method: 'POST'});

        if (response.status === 200) {
            getOrders();
        } else {
            alert('Failed to create order.');
        }
    }

    async function deleteAllOrders() {
        await fetch(`${host}/orders`, {method: 'DELETE'})
        getOrders();
    }

    getOrders();
</script>

</body>
</html>
